*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	 {box-sizing: border-box;}
}

.mdiv{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("1619427516457.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.container{
	height: 450px;
	width: 300%;
	box-shadow: 0px 0px 20px lightblue;
	border-radius: 20px;
	padding: 20px;
	border-radius: 30px;
	
	box-shadow: 0px 0px 10px green;
	border-radius: 30px;
	background:transparent;
	margin-top: 10px;
	margin-bottom: 110px;
	backdrop-filter:blur(20px);

}
.img
{
background-image: url("https://i.gifer.com/OzD.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	width: 500px;

}

.search-icon{
	height:50px;
}

input[type="text"]
{
	height: 30px;
	width: 180px;
	padding-left: 10px;
	outline: none;
	font-weight: bolder;
	text-transform: uppercase;
}

.srch_btn{
	border:none;
	background-color: transparent;
	padding-top: 40px;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.component{
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn{
	margin-top: -10px;
	margin-left: 10px;
}

#city_name{
	color: red;
	font-family: Arial Black;
	font-size: 15px;
}

.measurement{
	font-family: sans-serif;
	font-weight: bolder;
}

.headings{
	color: royalblue;
	font-family: Arial Black;
	font-size: 22px;
	text-align: center;
}

input{
	margin-top: 30px;
}

.#temp{
	color: red;
}